<%= partial "partials/head" %>

	  <%= partial "partials/logo_and_nav" %>

	  <div class="row">
		  <div class="large-12 columns">
		  <%= yield %>
		  </div>
	  </div>

	  <%= partial "partials/footer" %>  

<%= partial "partials/tail" %>